:root{
    /*Colors*/
    --search-theme-green: #42b883;
    --search-theme-white: #ebebeb;
    --search-theme-white-darker: #bec1cb;
    --search-theme-white-darkest:#a9a9a9;
    --search-theme-dark: #242424;
    --search-theme-dark-lighter: #2f2f2f;
    --scroll-bar-color: darkgrey;
    --search-theme-orage: #DA822B;
    /*font*/
    --font-size:12px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl:28px;
    --font-size-xxl: 32px;
    /*holistics*/
    --holistics-theme-white: #ffffff;
    --holistics-theme-white-darker: #EDEDED;
    --holistics-theme-dark-d2: #53586A;
    --holistics-theme-dark-d3: #697186;
    --holistics-theme-dark-d4:#858B9D; 
    --holistics-theme-dark-d5:#BEC1CB;
    --holistics-theme-blue: #4896EA;
    --holistics-theme-blue-grey: #c2ced7;
    --holistics-font-family: 'Open Sans';
}


/*CmpInput.vue*/
.holistics .cmp-input-place {
    border: 1px solid black;
    display: inline-block;
    width: 100%;
  }
.holistics .search-icon{
    display: inline;
    width: 10%;
    padding: 10px;
    color:var(--holistics-theme-dark-d3);
    font-size: var(--font-size);
  }
.holistics .input-place{
  background-color:var(--holistics-theme-white) ;
  width: 85%;
  outline: none;
  border:none;
}
.holistics .input{
  color:var(--holistics-theme-dark-d3);
  font-family: var(--holistics-font-family);
  font-size: var(--font-size);
  height: var(--font-size-l);
  
}
.holistics .input-place:focus{
  outline: none;
  box-shadow: none;
}
/*CommandPalette.vue*/
.holistics .command-palette-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--holistics-theme-dark-d5);
    width: 50%;
    padding: 8px;
    border-radius: 4px;
  }
  .holistics .command-palette-place {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 3%;
  }
  .holistics .cmp-input,
  .cmp-list {
    flex: 1;
  }
  .holistics .cmp-input,
  .cmp-list,
  .cmp-footer {
    padding: 4% 3%;
    flex: 1;
  }
  .holistics .cmp-input {
    background: var(--holistics-theme-dark-d2);
    mix-blend-mode: normal;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }
  .holistics .cmp-input:hover{
    outline: none;
  }
  .holistics .cmp-list {
    padding: 0% 3%;
    margin-top: 10px;
  }
  /*CmpListGroup.vue*/
  .holistics .result {
    overflow-y: scroll;
    max-height: 30vh;
  }
  
  .holistics .cmp-list-command {
    display: inline-block;
    width: 50%;
    height: var(--font-size-l);
    font-size: var(--font-size);
    padding: 2px 0px;
  }
  
  .holistics .cmp-list-left {
    text-align: left;
    font-family: var(--holistics-font-family);
  }
  
  .holistics .cmp-list-right {
    text-align: right;
  }
  
  .holistics .key {
    width: 63px;
    height: var(--font-size-m);
    font-family: var(--holistics-font-family);
    font-size: var(--font-size);
    color: var(--holistics-theme-dark-d5);
    display: inline;
    text-transform: capitalize;
  }
  
  .holistics .cmp-list-is-active {
    box-sizing: border-box;
    border-radius: 4px;
    background-color:var(--holistics-theme-blue-grey)!important;
    color: white;
  }
  
  .holistics .cmp-list-item {
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 3% 2%;
    margin-bottom: 10px;
    background-color: var(--secondary-color-reverser);
    font-size: 15px;
    color: var(--holistics-theme-dark-d2);
  }
  
  .holistics ::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .holistics ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 5px;
  }
  .holistics .group-name {
    font-family: var(--holistics-font-family);
    font-size: var(--font-size);
    height: var(--font-size-l);
    color:var(--holistics-theme-dark-d4);
  }

  /*Footer*/
  .holistics .footer { 
    font-family: var(--holistics-font-family);
  font-size: var(--font-size);
  line-height: var(--font-size-l);
  color: var(--holistics-theme-dark-d5);  
  flex: none;
  order: 1;
  flex-grow: 0;
  }
  /*No Research*/
  .holistics .no-research .icon {
    color: var(--search-theme-orage)
  }

  .holistics .no-research{
    text-align: left;
    font-family: var(--holistics-font-family);
    font-size: var(--font-size);
    line-height: var(--font-size-l);
    height: var(--font-size-xl);
    color: var(--holistics-theme-dark-d5);
    }
  /*Mode*/
.dark{
    --primary-color: var(--search-theme-green);
    --secondary-color: var(--search-theme-white);
    --secondary-color-darker: var(--search-theme-white-darker);
    --secondary-color-darkest: var( --search-theme-white-darkest);
    --secondary-color-reverse: var( --search-theme-dark);
    --secondary-color-reverse-lighter: var(--search-theme-dark-lighter);
    --scroll-bar-color: var(--scroll-bar-color);
    --text-color: var(--search-theme-white);
    --text-color-onhover: var(--search-theme-white);
}
.light{
    --primary-color: var(--search-theme-green);
    --secondary-color: var(--search-theme-dark);
    --secondary-color-darker: var( --search-theme-dark-lighter);
    --secondary-color-darkest: var( --search-theme-dark-lighter);
    --secondary-color-reverse: var(--search-theme-white);
    --secondary-color-reverse-lighter: var(--search-theme-white);
    --scroll-bar-color: var(--scroll-bar-color);
    --text-color: var( --search-theme-dark);
    --text-color-onhover: var(--search-theme-white);
}

