:root{
    /*Colors*/
    --search-theme-green: #42b883;
    --search-theme-white: #ebebeb;
    --search-theme-white-darker: #bec1cb;
    --search-theme-white-darkest:#a9a9a9;
    --search-theme-dark: #242424;
    --search-theme-dark-lighter: #2f2f2f;
    --scroll-bar-color-darkgrey: darkgrey;
    --search-theme-orage: #DA822B;
    /*font*/
    --font-size:12px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl:28px;
    --font-size-xxl: 32px;
    /*holistics*/
    --holistics-theme-white: #ffffff;
    --holistics-theme-white-darker: #EDEDED;
    --holistics-theme-dark-d2: #53586A;
    --holistics-theme-dark-d3: #697186;
    --holistics-theme-dark-d4:#858B9D; 
    --holistics-theme-dark-d5:#BEC1CB;
    --holistics-theme-blue: #4896EA;
    --holistics-theme-blue-grey: #c2ced7;
    --holistics-font-family: 'Open Sans';
}
/*App.vue Style*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.command-palette {
}

  /*Mode*/
.dark{
    --primary-color: var(--search-theme-green);
    --secondary-color: var(--search-theme-white);
    --secondary-color-darker: var(--search-theme-white-darker);
    --secondary-color-darkest: var( --search-theme-white-darkest);
    --secondary-color-reverse: var( --search-theme-dark);
    --secondary-color-reverse-lighter: var(--search-theme-dark-lighter);
    --scroll-bar-color: var(--scroll-bar-color-darkgrey);
    --text-color: var(--search-theme-white);
    --text-color-onhover: var(--search-theme-white);
}
.light{
    --primary-color: var(--search-theme-green);
    --secondary-color: var(--search-theme-dark);
    --secondary-color-darker: var( --search-theme-dark-lighter);
    --secondary-color-darkest: var( --search-theme-dark-lighter);
    --secondary-color-reverse: var(--search-theme-white);
    --secondary-color-reverse-lighter: var(--search-theme-white);
    --scroll-bar-color: var(--scroll-bar-color-darkgrey);
    --text-color: var( --search-theme-dark);
    --text-color-onhover: var(--search-theme-white);
}


